<!DOCTYPE html>
<html>
    <head>
        <title>Lab 6 Log In</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Log In</h1>
        <div>
        
            <form>
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="email"><br>
                <label for="pwrd">password:</label><br>
                <input type="text" id="pwrd" name="pwrd"><br><br>
                <input type="submit" value="Submit">
              </form> 

        </div>
        
        <br>
        <a href="/">
            <button type="button" id="home">Home</button>
        </a>
    </body>
</html>
